@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$brown-color: rgba(180, 87, 59, 0.68);
$green-color: rgba(0, 137, 0, 0.64);
$blue-color: rgba(67, 106, 221, 0.73);



.canvas-solo-code {
  > :first-child {
    display: none;
  }
}

.canvas-mdx {
  table {
    width: 100%;
    table-layout: fixed;

    code {
      white-space: pre-wrap;
    }
  }
}

.overview-panel {
  padding: 0;
  > div {
    > div {
      padding: 0;
    }
  }
}

#story--empty {
  display: none;
}

.grid-component {

  &.left {
    &, revogr-data {
      text-align: left;
    }
  }

  .inner-cell {
    box-sizing: border-box;
    padding-left: 5px;
    margin-left: -5px;

    &.active {
      background-color: #fff295;
      box-shadow: 0 -1px 0 #ecde75 inset, -1px 0 0 #ecde75 inset;
    }
  }
}

.bubble {
  $h: 32px;
  $h-small: 23px;

  color: white;
  border: none;
  cursor: default;
  height: $h;
  display: inline-flex;
  outline: 0;
  padding: 0 10px;
  font-size: 0.8125rem;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: #e0e0e0;
  opacity: .7;

  &.small {
    height: $h-small;
  }
}