$brown-color: rgba(180, 87, 59, 0.68);
$green-color: rgba(0, 137, 0, 0.64);
$blue-color: rgba(67, 106, 221, 0.73);

.grid-component {
  .data {
    &-header-cell,
    &-cell {
      text-align: left;
      line-height: 30px;
      padding-left: 5px;
    }

    &-header-cell {
      font-weight: 600;
    }
  }

  .inner-cell {
    box-sizing: border-box;
    padding-left: 5px;
    margin-left: -5px;

    &.active {
      background-color: #fff295;
      box-shadow: 0 -1px 0 #ecde75 inset, -1px 0 0 #ecde75 inset;
    }

    &.brown {
      background-color: $brown-color;
    }
    &.green {
      background-color: $green-color;
    }
    &.blue {
      background-color: $blue-color;
    }
  }
}