body,
html {
    height: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

#root {
    height: 100%;
}

.grid-component {
    display: block;
    width: 100%;
    height: 500px;
}
